body{
    background-color: rgb(176, 209, 209);
    
}


.Formulario{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
label{
    display: grid;
    margin-top: 10px;
    justify-items: center;
}
input{
    height: 35px;
    border-radius: 15px;
}
.rating{
    display: flex;
}
button{
    margin: 15px;
    height: 40px;
    width: 75px;
}
.voltar{
  
    height: 50px;
    width: 80px;    
    border-radius: 10px;

    
}